<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(title='友情链接',keywords=null)"></div>
<body>
<article class="main-content post-page">
    <div id="post-content" class="post-content">
        <h3>友情链接</h3>
            <p>暂无</p>
        <h3>链接须知</h3>
        <blockquote>
            <ul>
                <li><p>请确定贵站可以稳定运营</p></li>
                <li><p>经常过来访问和评论，眼熟的</p></li>
            </ul>
        </blockquote>
        <h3>基本信息</h3>
        <pre><code class="lang-md hljs markdown">你好</code></pre>

        <p>我的邮箱:qianm988@163.com</p>
        <p>还有，我会不定时对无法访问的网址进行清理，请保证自己的链接长期有效</p></div>
</article>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>